# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/home/brunojose/devops/curso4-docker/exercicio11-allbooks-docker-compose/api-alurabooks/node_modules
/home/brunojose/devops/curso4-docker/exercicio11-allbooks-docker-compose/site-reactjs/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
